.example-header-image {
  // background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.auction-card-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.auction-card {
  width: 20%;
  max-height: 500px;
  margin: 20px;
}
.auction-desc {
  padding-bottom: 20px;
}
.auction-action {
  position: absolute;
  bottom: 20px;
}
.bid-button {
  width: 100%;
}
