<mat-sidenav-container class="app-sidenav-container">
  <mat-sidenav
    #sidenav
    class="app-sidenav mat-elevation-z10"
    [opened]="!isScreenSmall"
    [mode]="isScreenSmall ? 'over' : 'side'"
  >
    <mat-toolbar color="primary">
      <span>Actions</span>
    </mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <a matLine [routerLink]="['/auction/create']">
          <mat-icon mat-list-icon>balance</mat-icon>
          Create Auction
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a matLine [routerLink]="['/auction']">
          <mat-icon mat-list-icon>account_balance</mat-icon>
          My Auctions
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a matLine [routerLink]="['/bidding']">
          <mat-icon mat-list-icon>paid</mat-icon>
          Bidding
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item>
        <a matLine [routerLink]="['/bidding/my-bids/current']">
          <mat-icon mat-list-icon>money</mat-icon>
          My Bids
        </a>
      </mat-list-item>
      <mat-divider></mat-divider>
    </mat-nav-list>
  </mat-sidenav>

  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()"></app-toolbar>
    <div class="wrapper">
      <router-outlet *ngIf="authService.isLoggedIn()"></router-outlet>
    </div>
  </div>
</mat-sidenav-container>
